$primary: #779437;
$dark_primary: #77a413;
$darker_primary: #5c800e;
$secondary: #e3940b;
$header_bar_background: #435756;
$products_background: #eaeaea;
$products_title_background: #434343bf;
$light-grey: #efefef;
$note_button_background: #4d4d4d;
$save_cart_background: #e09914;
$pay_button_background: #a0a700;
$border-grey: #dbdbdb;
$extra-light-grey: #f5f5f5;
$box-shadow: rgba(128, 128, 128, 0.089);
$maroon: #7d0707;
