//breakpoints
$breakpoint-mobile-small:375px;
$breakpoint-mobile-medium:425px;


$breakpoint-mobile:767px;
$breakpoint-mobile-max:768px;

 
$breakpoint-mid-mobile:830px;


$breakpoint-tablet-small:1023px;
$breakpoint-tablet:1024px;
$breakpoint-desktop:1025px;


$breakpoint-large-laptops:1200px;


$breakpoint-large:1366px;
$breakpoint-x-large:1920px;