@import '../../styles/common.scss';
.customer-address-modal-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: space-between center;
  column-gap: 1rem;
  row-gap: 0;
}

.customer-address-input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0;
  & > * {
    margin: 1rem 0 auto;
  }
  input,
  select {
    border: 1px solid $border-grey;
    height: 2.5rem;
    border-radius: 4px;
    &:focus {
      outline: none;
      border: 1px solid $primary;
      border-radius: 4px;
      transition-duration: 0.3s;
    }
  }
}
.submit {
  grid-column: 1/-1;
  input {
    background-color: $primary;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 2px;
  }
}

.address {
  grid-column: 1/-1;
}
