@import '../../styles/common.scss';
.modal-body > * {
  margin: 1rem auto;
}
.current-customer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $light-grey;
  padding: 1rem 0.5rem;
  box-shadow: 0 1px 10px $box-shadow;
  cursor: pointer;
}
.customer-form-search {
  border: 1px solid $light-grey;
  padding: 1rem 0.5rem;
  width: 100%;
  box-shadow: 0 1px 10px $box-shadow;
  &:focus {
    outline: 1px solid $primary;
    transition: outline 0.4s;
  }
}
.customer-form-link {
  color: $primary;
  margin-left: 1rem;
}
