@import '../../styles/common.scss';

.productList {
  height: calc(100vh - 55px);
  // border: 1px solid red;
  grid-area: list;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;

  //   search section
  .searchSection {
    display: flex;
    align-items: center;
    flex: 0 0 auto;

    .logo {
      padding: 10px;
      margin: 10px;
      img {
        max-width: 140px;
        max-height: 100px;
      }
    }
    .search {
      display: flex;
      align-items: center;
      width: 80%;
      align-content: flex-end;
      margin: 20px 0 20px;
      flex: 0 0 auto;
      flex: 1;
      .searchWrapper {
        width: 90%;
        display: inline-block;
        margin-right: 5px;
        position: relative;
        input {
          width: 100%;
          padding: 5px 10px;
          height: 30px;
          display: inline-block;
          border: 1px solid $primary;
          margin-right: 5px;
          color: #000;
          font-weight: 600;
          &:focus {
            outline: none;
            // border: 1px solid $primary;
          }
        }
      }
    }
    .button {
      margin-right: 15px;
      .calculatorWrapper {
        position: relative;
        a {
          background: $header_bar_background;
          color: #fff;
          padding: 3px;
          font-size: 29px;
          height: 35px;
          width: 38px;
          display: flex;
          align-items: center;
          line-height: 42px;
          cursor: pointer;
          transition: all linear 0.3s;
        }
      }
    }
  }

  //   product tabs section
  .posTabs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 5px;
    font-size: 0.8em;
    flex: 0 0 auto;
    // product filters
    // .productListFilters {
    .active {
      background: $products_background;
      color: #333;
    }
    button {
      flex: 1;
      border: none;
      display: inline-block;
      padding: 10px 25px;
      cursor: pointer;
      background: $primary;
      color: #fff;
      font-weight: 600;
      transition: all 0.2s;
      // margin-left: 1px;
      &:focus {
        background: $products_background;
        color: #333;
        outline: none;
      }
    }
    // }
    // productActions
    .productActions {
      .addProduct {
        background-color: $dark_primary;
      }
      .scanProduct {
        background-color: $darker_primary;
      }
      span {
        display: inline-block;
        padding: 10px 25px;
        cursor: pointer;
        color: white;
        font-weight: 600;
        transition: all 0.2s;
      }
    }
    // category List
    span {
      margin-right: 2px;
    }
  }
}

.categoryListContainer {
  height: calc(100vh - 220px);
  max-width: auto;

  .categoryList {
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    background: $products_background;
    height: 100%;
    overflow-y: auto;
    align-content: start;
  }

  .productCategory {
    position: relative;
    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }

  .categoryImage {
    height: 28vh;
    background-size: cover;
    background-position: center center;
  }
  .categoryHeading {
    background: $products_title_background;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    height: auto;
    padding: 0 2%;
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: space-between;
  }
}
// ##################################################

.categoryList {
  position: relative;
  padding-left: 10%;
  overflow-y: auto;
}
.product-list__go-back-wrapper {
  position: absolute;
  top: 0;
  left: 1%;
  height: 100%;
  width: 50px;
  .product-list__go-back {
    height: 50%;
    width: 50px;
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
